body{
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      }
  
    .bird1{
      position:relative;
    }
  #bird{
  /*left:100%;*/
  animation:fly 5s infinite;
  animation-name:fly;
  }
  
@keyframes fly {
     from{
       margin-left:110%;
     }
      to {
        margin-left: 0%;
      }
     }