<<<<<<< HEAD
body {
  background-color: #003f5c;
  margin: 0%;
  
}

h1 {

  font-family: 'Yeon Sung', cursive;
  font-size: 2;
  position: absolute;
  top: 40px;
  right: 20px;
  color: #fb5b5a;
}

h2 {
  font-family: 'Yeon Sung', cursive, sans-serif;
  font-size: 1;
  color: #bc4873;
  position: absolute;
  right: 20px;
  top: 85px;

}


/*****divs** #bc4873***/

.firstdiv {
  margin: 0;
  background-image: images/hearthfire.jpg
  text-align: center;
  position: relative;
}
.seconddivparent{
  text-align: center;
=======
/*********html stuff**************/

body {
    background-color: #003f5c;
    margin: 0%;
}

h1 {

    font-family: 'Yeon Sung', cursive;
    font-size: 2;
    position: absolute;
    top: 40px;
    right: 20px;
    color: #fb5b5a;
}

h2 {
    font-family: 'Yeon Sung', cursive, sans-serif;
    font-size: 1;
    color: #bc4873;
    position: absolute;
    right: 20px;
    top: 85px;

}

/*****divs** ***/

.firstdiv {
    margin: 0;
    background-image: images/hearthfire.jpg
    text-align: centerS;
    position: relative;
}
.seconddivparent{
    text-align: center;
>>>>>>> 0e00410cf64c3dd7568e81007924e23a6c0080c4

}

.seconddiv {
<<<<<<< HEAD
  background-color: #bc4873 ;
  height: 400 px;
  margin: 0;
  padding-top: 30px
  display: inline-block;
  position: relative;
=======
    background-color: #bc4873 ;
    height: 400 px;
    margin: 0;
    padding-top: 30px
    display: inline-block;
    position: relative;
>>>>>>> 0e00410cf64c3dd7568e81007924e23a6c0080c4
}

.thirddiv {

<<<<<<< HEAD
  background: url(images/sunset-on-a-beach.gif);
}
.aboutme {
  margin-right: 25%;
}
.blogtextparent {
position: relative;

}
.blogtext {
  width: 50%
  position: absolute;
  bottom: 100px;
  
  }
=======
    background: url(images/sunset-on-a-beach.gif);
}
>>>>>>> 0e00410cf64c3dd7568e81007924e23a6c0080c4





/***********images***********/
.sunset {
<<<<<<< HEAD
  width: 100%;
=======
    width: 100%;
>>>>>>> 0e00410cf64c3dd7568e81007924e23a6c0080c4
}

.profilepic {

height: 130px;
width: auto;
border-radius: 50%;
margin: 0px;
position: absolute;
right: 80px;
}

<<<<<<< HEAD
.link {
  color: #b62472;
}

.link:hover {
  color: #fb5b5a; 
}
    


 
=======

  .topnav a{
font-family: optima, sans-serif;
font-size: 3em;
color: 	#FFA500
  }
>>>>>>> 0e00410cf64c3dd7568e81007924e23a6c0080c4
